@charset "UTF-8";
/* destroy gnuboard basic css */
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=file],
input[type=number],
select, label, button, img, .frm_input {vertical-align:top}
#container_title {margin:0;font-size:1em;padding:2px;}
a.btn_b01, a.btn_admin, a.btn_b02 {margin: 0;padding:0 10px;height: 26px;line-height: 26px;overflow: hidden;-webkit-border-radius: 3px;}
a.btn_admin {color:#fff;background-color: red;border: 1px solid red;background-image: -webkit-gradient(linear,left top,left bottom,from(#ff5151),to(red));}
a.btn_b01 {color:#000;background-color: #fafafa;border: 1px solid #b3b4bb;background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f6f6f6));}
a.btn_b02 {color:#fff;background-color: #000000;border: 1px solid #1c1c1c;background-image: -webkit-gradient(linear,left top,left bottom,from(#6e6e6e),to(#000));}

/* global properties */
.wzicon { background: url(../img/shareimages.png?140512) no-repeat;display: inline-block;font-size: 0;line-height: 0;text-indent: -9999px;}
.wzicon.home {vertical-align:middle; display:inline-block; width: 28px; height: 35px; line-height:35px; background-position: -97px -6px;cursor:pointer;}
.wzicon.category {vertical-align:middle; display:inline-block; width: 28px; height: 35px; line-height:35px; background-position: -54px -6px;cursor:pointer;}
.gheight {height:6px;content:".";display:block;clear:both;}
/* -webkit-margin-start: 0;-webkit-margin-end: 0;-webkit-padding-before: 0.45em;-webkit-padding-start: 0.45em;-webkit-padding-end: 0.45em;-webkit-padding-after: 0.45em; */
fieldset {display: block;padding:0.45em;border-image-source: initial;border-image-slice: initial;border-image-width: initial;border-image-outset: initial;border-image-repeat: initial;min-width: -webkit-min-content;}
span.textheader {color: #ffffff;font-size: 11px;letter-spacing: -1px;display: inline-block;padding: 1px 3px; border-radius: 2px;border: 1px solid #fd6418; background-color:#fa762e;line-height: 11px; height: 11px; text-align: center;}
.wzcheckbox {width:20px;height:20px;border:0;-webkit-appearance:none;vertical-align:middle;margin-top:-2px;background:url(../img/checkbox_default.png) no-repeat 0 0;background-size:20px 20px;}
.wzcheckbox:checked {background:url(../img/checkbox_active.png) no-repeat 0 0;background-size:20px 20px;}


/* button */
.wz_btn_mid_gray {display: inline-block;margin: 0 2px;padding: 0 7px;border: 1px solid #26292e;border-radius: 3px;background: #3d4049;line-height: 25px;color: #c3c3c3 !important;}	
.wz_btn_wide {margin:0;border:1px solid #bbb;border-radius:3px;background-color:#f1f1f3;background-image:linear-gradient(to bottom,#f7f8f9,#ebebed);
		overflow: hidden;border-top: 1px solid #d6dade;box-shadow: inset 0 1px 0 rgba(255,255,255,1);-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1);}
.wz_btn_wide .wz_btn_wide_box {border-right:1px solid #c5c5c6;float:left;margin-left:-1px;letter-spacing:-1px;color:#3e4349;}
.wz_btn_wide .wz_btn_wide_box:last-child {display:block;overflow:hidden;float:none;border-right:0 none;}
.wz_btn_wide .wz_btn_wide_box button {width:100%;padding:8px;margin:0;background:none;font-size:1em;font-weight:normal;text-align:center;border: 0 none;font-family: 'Nanum Gothic','NanumGothic','나눔고딕','Droid Sans','Malgun Gothic','MalgunGothic','맑은고딕','Helvetica','Apple-Gothic','애플고딕','Tahoma',dotum,'돋움',gulim,'굴림',sans-serif;}

.cate-wrap ul, 
.cate-wrap li {margin:0;padding:0;list-style: none;}
.cate-wrap ul {overflow: hidden;margin:0;border-top: 0px solid #bfc2c4;border-left: 0px solid #bfc2c4;border-right: 0px solid #a8aaab;border-bottom: 0px solid #a8aaab;text-align: center;}
/*.cate-wrap ul {overflow: hidden;margin:0;border-top: 1px solid #bfc2c4;border-left: 1px solid #bfc2c4;border-right: 1px solid #a8aaab;border-bottom: 1px solid #a8aaab;text-align: center;}*/
.cate-wrap ul li {float: left;border-right: 1px solid #ccc;border-top: 1px solid #ccc;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.cate-wrap ul .link_menu {display: block;height: 35px;font-size: 1em;line-height: 2.800em;font-weight: normal;background-color: #fcfcfc;background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));background-image: -moz-linear-gradient(top,#fff,#f8f8f8);background-image: -o-linear-gradient(top,#fff,#f8f8f8);background-image: linear-gradient(to bottom,#fff,#f8f8f8);}

.cate-wrap ul li {width: 33.3%;} /*아래 media 2개 수정시 지울것*/

@media only screen and (min-width: 480px) {
/*.cate-wrap ul li {width: 25%;}*/
.cate-wrap ul li:nth-child(-n+4) {border-top: 0 none;}
.cate-wrap ul li:nth-child(4n) {overflow: hidden;float: none;width: auto;border-right: 0 none;}
}

@media only screen and (max-width: 480px) {
/*.cate-wrap ul li {width: 33.3%;}*/
.cate-wrap ul li:nth-child(-n+3) {border-top: 0 none;}
.cate-wrap ul li:nth-child(3n) {overflow: hidden;float: none;width: auto;border-right: 0 none;}
}


/* Header */

#gnb_open { display:none; top:4px;right:7px;text-indent:-9999px;line-height:0;background:url(../img/ico_compact.png?140615) no-repeat;background-position: center center;border:1px solid #404654;border-radius:2px;box-shadow: 0 1px 0 rgba(125,130,144,0.2);-webkit-box-shadow: 0 1px 0 rgba(125,130,144,0.2); width:33px; outline:0;}

#gnb_open .head_notice:before {position: absolute; top: 0; right: 26px; display: inline-block; width: 90px; height: 100%; background: url(../img/icon_home_freeboard.png) no-repeat; background-position: center center; background-size: contain; content: "";} /*상단 자유게시판 화살표*/

/*#gnb_open_nomem {top: 4px; right: 7px; border: 1px solid #C5C19E; border-radius: 2px; box-shadow: 0 1px 0 rgba(125,130,144,0.2); -webkit-box-shadow: 0 1px 0 rgba(125,130,144,0.2); position: absolute; width: 100px; height: 31px;  color: #675C0F;  font-size: 1em;  background: #FFF9CD;}*/

#gnb_open_nomem { position: absolute; top: 4px; right: 75px; border: none; border-radius: 2px; width: 40px; height: 31px; color: #4476C3; font-size: 1em; background: #fff; font-weight: bold;}
#gnb_open_nomem:after { /*content: "";*/  top: 50%; right: -9px; margin-top: -4px; display: inline-block; width: 6px; height: 6px; border: 2px solid #A9B7D0; border-top: none; border-left: none; transform: rotate(45deg); -webkit-transform: rotate(-45deg);}

.head_banner_info {position: absolute; right: 7px; top: 7px; line-height: 25px; padding: 0 4px; letter-spacing: -1px; color: #fff !important; background: #53aaba; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
.head_banner_free { display:none; position: absolute; right: 116px; top: 7px; line-height: 25px; padding-left: 4px; letter-spacing: -1px; font-weight: bold; color: #777 !important;}
.head_banner_free:after { content: "|"; position: absolute; top: 0; right: -8px; color: #CECECE; font-weight: normal;}


/* 작성폼 basic */
.commentbox, 
.writebox {overflow: hidden;position: relative;margin: 0;border-top: 1px solid #bfc2c4;border-left: 1px solid #bfc2c4;border-right: 1px solid #a8aaab;border-bottom: 1px solid #a8aaab;box-shadow: 0 1px 0 rgba(164,168,171,0.2);-webkit-box-shadow: 0 1px 0 rgba(164,168,171,0.2);background-color: #f4f4f4;clear: both;}
.writebox .tips {padding: 10px 15px 10px 15px;}
.writebox .tips p em {color: #5a8daf;}
.writebox .inputbox {padding:0;}
.writebox .inputbox .inputnt {position: relative;height: 30px;margin-top:0;margin-bottom: 5px;padding:0 0 0 5px;border: 1px solid #bcbcbc;background-color: #fff;line-height: 28px;}
.writebox .inputbox .inputnt input[type=text],
.writebox .inputbox .inputnt input[type=password],
.writebox .inputbox .inputnt input[type=email],
.writebox .inputbox .inputnt input[type=url],
.writebox .inputbox .inputnt input[type=file],
.writebox .inputbox .inputnt select,
.writebox .inputbox .inputnt textarea {width: 100%;height: 30px;border: 0;-webkit-appearance: none;-webkit-border-radius: 0;background-color:#fff !important;}
.writebox .inputbox .inputnt select {background: url(../img/ico_select_arrow.png) no-repeat right 50% !important;background-size: 15px 5px !important;padding-right:10px;}
.writebox .inputbox .inputarea {margin-bottom: 5px;padding: 0 5px;border: 1px solid #bcbcbc;background-color: #fff;}
.writebox .inputbox .inputarea textarea {width: 100%;height:150px;border: 0;-webkit-appearance: none;-webkit-border-radius: 0;}
.writebox .inputbox .submitcols {position: relative;padding-right: 118px;}
.writebox .inputbox .submitcols .common_btn {position: absolute;right: 0;top: 0;width: 113px;border: 1px solid #aaa;box-shadow: 1px 1px 0 #d3d3d3;height: 32px;letter-spacing: -1px;padding: 2px 8px 0;text-align: center;background-color: #f6f6f6;background-repeat: repeat-x;background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee));background: -moz-linear-gradient(top, #fefefe, #eee);background: -ms-linear-gradient(top, #fefefe, #eee);background: -o-linear-gradient(top, #fefefe, #eee);}
.writebox .inputbox .checkBox label {margin-right: 10px;padding-left: 5px;font-size: 14px;color: #767676;vertical-align: middle;}
.writebox .btm-btns {position: absolute;bottom: 0;left: 0;width: 100%;border-top: 1px solid #bcbcbc;}
.writebox .btm-btns a {float: left;width: 33%;height: 30px;font-size: 13px;height:30px;line-height: 30px;color: #737373;text-align: center;background-color: #f6f6f6;background-repeat: repeat-x;background: -webkit-linear-gradient(top, #fefefe, #eee);background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee));background: -moz-linear-gradient(top, #fefefe, #eee);background: -ms-linear-gradient(top, #fefefe, #eee);background: -o-linear-gradient(top, #fefefe, #eee);}
.writebox .btm-btns a span {display: block;border-left: 1px solid #fff;border-right: 1px solid #bcbcbc;}
.writebox .btm-btns a:last-child {width: 34%;}
.writebox .btm-btns a:last-child span {border-right:none;}
.writebox .btm-btns .lbtns {float: left;text-align: center;}
.writebox .btm-btns button {width: 98%;font-size: 13px;margin:6px 0;padding:8px;color: #737373;text-align: center;background-color: #f6f6f6;background-repeat: repeat-x;border-radius: 3px;background: -webkit-linear-gradient(top, #fefefe, #eee);background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee));background: -moz-linear-gradient(top, #fefefe, #eee);background: -ms-linear-gradient(top, #fefefe, #eee);background: -o-linear-gradient(top, #fefefe, #eee);border: 1px solid #aaa;box-shadow: 1px 1px 0 #d3d3d3;}
.writebox .btm-btns .sbmt {font-weight:bold;}
.writebox .inputbox .searchcols {position: relative;padding-left:80px;padding-right: 75px;}
.writebox .inputbox .searchcols .common_sfl {position: absolute;left: 0;top: 0;width: 74px;height:30px;padding:0;border:1px solid #bcbcbc;background-color: #fff;line-height:28px;}
.writebox .inputbox .searchcols .common_sfl select {padding-left:3px;background: url(../img/ico_select_arrow.png) no-repeat right 50%;;background-size: 15px 5px;padding-right: 10px;width:100%;height:30px;border:0;-webkit-appearance: none;-webkit-border-radius: 0px;
border-radius: 0px;background-color:#fff;}
.writebox .inputbox .searchcols .common_btn {position: absolute;right: 0;top: 0;width: 70px;border: 1px solid #aaa;box-shadow: 1px 1px 0 #d3d3d3;height: 32px;letter-spacing: -1px;padding: 2px 8px 0;text-align: center;background-color: #f6f6f6;background-repeat: repeat-x;background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee));background: -moz-linear-gradient(top, #fefefe, #eee);background: -ms-linear-gradient(top, #fefefe, #eee);background: -o-linear-gradient(top, #fefefe, #eee);}
.writebox .inputbox .searchcols .inputnt {margin-bottom:0;}
.writebox.havebtn {padding-bottom:45px;}

/* pageing */
.wziconarrow {background: url(../img/image.gif) no-repeat;}
.paging_comm {position:relative;width:134px;height:26px;margin:0 auto;color:#666;text-align:center;line-height:26px;}
.paging_comm .num_page {color:#425de8;font-size:14px}
.paging_comm .txt_bar {color:#c5c5c5}
.paging_comm .btn_page {position:absolute;top:0;width:37px;height:26px;line-height:26px;overflow:hidden;text-indent:-9999px;border:1px solid #b3b4bb;-webkit-border-radius:3px;background-color:#fafafa;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f6f6f6))}
.paging_comm .btn_prev {left:0}
.paging_comm .btn_next {right:0}
.paging_comm .wziconarrow {display:block;margin:8px auto 0 auto;width:6px;height:9px;overflow:hidden;text-align:center}
.paging_comm .ico_prev {background-position:-40px -10px}
.paging_comm .ico_next {background-position:-50px -10px}
.screen_out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px;}

/* search */
#hd_sch #sch_stx {color:#fff;}

/* company */
#ctt {overflow: hidden;position: relative;margin: 0;border-top: 1px solid #bfc2c4;border-left: 1px solid #bfc2c4;border-right: 1px solid #a8aaab;border-bottom: 1px solid #a8aaab;background-color: #fff;box-shadow: 0 1px 0 rgba(164,168,171,0.2);-webkit-box-shadow: 0 1px 0 rgba(164,168,171,0.2);clear: both;}

/* layer popup */
.dimm {display:none;position:absolute;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0,0.8);z-index: 100;}
.popup_bx {display:none;position: absolute;top:0;left:50%;z-index: 200;}
.popup_bx .header_popup {height:36px;background-color: #fd6418;line-height: 36px;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.popup_bx .header_popup h1 {font-size: 14px;color:#fff;text-align: center;}
.popup_bx .content_popup {padding:10px 6px;background: #fff;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.popup_bx .close_popup {position:absolute;top:7px;right:7px;display:block;width:24px;height:23px;background: url(../img/layer_pop_icon.png) no-repeat;color:#fff;border:none;}
.popup_bx .grid_btn {display:table;width:100%;margin-top: 10px;padding:0;margin:0;}
.popup_bx .grid_btn li {display:table-cell;width:50%;text-align: center;}
.popup_bx .btn_small_gray,
.win_btn .btn_small_gray
{margin:0 3px;display:block;height:28px;border:1px solid #bebebe;background: #f0f0f0;color:#444;text-align: center;-webkit-border-radius:3px;border-radius:3px;line-height: 28px;font-size: 12px;}

/* intro layer 
#introwraper {display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index: 100;
	background-color: #3d414d;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4c5160),to(#3e4451));
	background-image: -moz-linear-gradient(top,#4c5160,#3e4451);
	background-image: -o-linear-gradient(top,#4c5160,#3e4451);
	background-image: linear-gradient(to bottom,#4c5160,#3e4451);
}
#introwraper #cell { position: absolute; top: 40%;width:100%;text-align:center;}
#introwraper #cell h1 {color:#fff;-webkit-text-shadow: 0 1px 0 rgba(164,168,171,0.2);text-shadow:0px -1px 0px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.3);font-size:1.6em;}
#introwraper #cell h3 {color:#fff;-webkit-text-shadow: 0 1px 0 rgba(164,168,171,0.2);text-shadow:0px -1px 0px rgba(000,000,000,1),0px 1px 0px rgba(255,255,255,0.3);padding-top:5px;}
*/